.letter-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    min-width: 400px;

    .card {
        img {
            max-width: 400px;
        }

        .card-info {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }

        mat-card-content {

            .card-content {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        mat-card-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}