.title {
    h1 {
        font-family: 'poppins';
    }

    padding: 24px;
}

.letter-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 2rem;
    flex-wrap: wrap;

    .card {
        img {
            max-width: 300px;
            border-radius: 8px 8px 0px 0px;
        }

        .header-image {
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
            margin-left: 6px;
        }

        .header-content {
            display: flex;
            flex-direction: row;

            p {
                font-family: 'poppins';
                font-size: 14px;
                margin: 5px 0 0 6px;
            }
        }

        mat-card-header {
            display: flex;
            justify-content: flex-start;
            padding: 18px;

            mat-card-title {
                font-family: 'poppins';
                max-width: 300px;
            }
        }

        .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 300px;

            .card-info {
                display: flex;
                flex-direction: row;
                gap: 6px;

                p {
                    font-family: 'poppins';
                    margin-top: 3px;
                }

                mat-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}