.title {
    h1 {
        font-family: 'poppins';
    }

    padding: 24px;
}

.letter-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px;
    gap: 2rem;
    max-width: 300px;

    .card {
        img {
            max-width: 300px;
            border-radius: 8px 8px 0px 0px;
        }

        mat-card-header {
            display: flex;
            justify-content: flex-start;
            padding: 18px;

            mat-card-title {
                font-family: 'poppins';
            }
        }

        .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .card-info {
                display: flex;
                flex-direction: row;
                gap: 6px;

                p {
                    font-family: 'poppins';
                    margin-top: 3px;
                }

                mat-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}