<div class="title">
    <h1>Programming Language</h1>
    <button mat-button [matMenuTriggerFor]="cartMenu">
        Cards
        @if (getCardCount() | async) {
        <span>{{getCardCount() | async}}</span>
        }
    </button>

    <mat-menu #cartMenu="matMenu">
        @if (getCardCount() | async) {
        <div mat-menu-item>
            <p>Total Courses: {{ getCardCount() | async }}</p>
            <p>Total Price: {{ getCardTotalPrice() | async | currency }}</p>
        </div>
        }
        @else {
        <div mat-menu-item>
            <p>No Item in the box!</p>
        </div>
        }
    </mat-menu>

</div>

@if (courses) {
<div class="letter-box">
    @for (course of courses; track $index) {
    <mat-card class="card">
        <div class="main-img">
            <img src="../../../assets/team-work.jpg" alt="team-work">
        </div>
        <div class="header-content">
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>
                <p>{{course.instructor.name}}</p>
            </mat-card-title>
        </div>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/course', course.id]">
                    {{ course.title | titlecase }}
                </a>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <div class="card-info">
                    <mat-icon>work</mat-icon>
                    <p>{{course.level}}</p>
                </div>
                <div class="card-info">
                    <mat-icon>group</mat-icon>
                    <p>{{course.numStudents}}</p>
                </div>
                <div class="card-info">
                    <mat-icon>star</mat-icon>
                    <p>{{course.rating}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-divider />
        <div class="currency">
            <b>{{course.price | currency}}</b>
            <p (click)="addToCard(course)">Add to Card</p>
        </div>

    </mat-card>
    }
</div>
}
@else {
<div class="spinner">
    <mat-spinner />
</div>
}