section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left {
        padding: 1rem;

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 2.375rem;
            margin-bottom: 1rem;
        }

        .basic-info {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
        }

        .additional-info {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            margin-top: 1rem;
        }

        .img {
            img {
                max-width: 600px;
                border-radius: 0.625rem;
            }
        }

        .overview {
            margin-top: 2rem;

            .over-title {
                font-size: 1.5rem;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.125rem;
                line-height: 1.5;
            }
        }
    }

    .right {
        padding: 1rem;
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .left {
        .img {
            img {
                width: 400px;
            }
        }
    }
}